@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Great+Vibes&family=Kalam:wght@300&family=Montserrat:wght@300&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Monserrat", sans-serif;
  background-color: bisque;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1300px;
  padding: 0 20px;
}

.large {
  font-size: 18px;
}

.display-1 {
  font-size: 15px;
}

.boton {
  display: inline-block;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  background: blueviolet;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}
.btn-dark {
  background: blueviolet;
  border: 1px solid blue;
  color: aliceblue;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
}
form .form-group {
  margin-bottom: 16px;
}
form .form-group-control {
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  line-height: 1.5;
  background: grey;
  border: none;
  border-radius: 4px;
}

#navbar {
  height: 12vh;
  background: blueviolet;
  color: white;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#navbar a {
  color: white;
}
#navbar .logo {
  float: left;
  padding-top: 2px;
  font-size: 40px;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 10px;
  text-align: center;
}

#portada {
  height: 88vh;
  padding: 200px 0;
  background-image: url("../img/carrousel3.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#portada h1 {
  width: 50%;
}
#portada p {
  width: 50%;
  padding: 15px 0;
}

#nos {
  padding: 100px 0;
}
#nos h2 {
  text-align: center;
  padding-bottom: 50px;
}
#nos img {
  width: 500px;
}
#nos .nos-flex {
  display: flex;
}
#nos .nos-flex-image {
  flex: 1;
}
#nos .nos-flex-description {
  flex: 1;
  padding: 20px 40 px;
}

#gshock {
  padding: 100px 0;
}
#gshock h2 {
  text-align: center;
  padding-bottom: 10px;
}
#gshock p.large {
  text-align: center;
  padding-bottom: 50px;
}
#gshock .gshock-flex {
  display: flex;
  gap: 10px;
}
#gshock .gshock-flex img {
  height: 400px;
}
#gshock .gshock-flex-box {
  background: aliceblue;
  padding: 50px 20px;
  text-align: center;
  border-radius: 20px;
}

#baby {
  padding: 100px 0;
}
#baby h2 {
  text-align: center;
  padding-bottom: 10px;
}
#baby p.large {
  text-align: center;
  padding-bottom: 50px;
}
#baby .baby-flex {
  display: flex;
  gap: 10px;
}
#baby .baby-flex img {
  height: 400px;
}
#baby .baby-flex-box {
  background: aliceblue;
  padding: 50px 20px;
  text-align: center;
  border-radius: 20px;
}

#contacto {
  padding: 100px 0;
}
#contacto h2 {
  text-align: center;
  padding-bottom: 10px;
}
#contacto p.large {
  text-align: center;
  padding-bottom: 50px;
}
#contacto form {
  width: 50%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=estilo.css.map */
